@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dropzone/styles.css";

html,
body,
#__react-root {
  height: 100%;
}

html {
  overscroll-behavior-y: none;
}

:where(input:not([type="hidden"]), textarea, select) {
  font-size: max(16px, 1rem) !important;
}
